@font-face {
  font-family: "iconfont"; /* Project id 3879098 */
  src: url('iconfont.woff2?t=1677516928754') format('woff2'),
       url('iconfont.woff?t=1677516928754') format('woff'),
       url('iconfont.ttf?t=1677516928754') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before {
  content: "\e68f";
}

.icon-arrowdown:before {
  content: "\e692";
}

.icon-arrowup:before {
  content: "\e695";
}

.icon-huishouzhan:before {
  content: "\e61a";
}

.icon-zhuanti:before {
  content: "\e617";
}

.icon-boke:before {
  content: "\e600";
}

.icon-account:before {
  content: "\e6b8";
}

.icon-Password:before {
  content: "\e62a";
}

