@font-face {
  font-family: "iconfont"; /* Project id 3879098 */
  src: url('iconfont.woff2?t=1675409158245') format('woff2'),
       url('iconfont.woff?t=1675409158245') format('woff'),
       url('iconfont.ttf?t=1675409158245') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account:before {
  content: "\e6b8";
}

.icon-Password:before {
  content: "\e62a";
}

