*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

h1 { font-size: 2em }
/* h2 { font-size: 1.5em } */


.tableop{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-click{
    color: rgb(91, 94, 217);
    cursor: pointer;

}
.text-click:hover{
    text-decoration: underline;
}
.text-disable{
    color: gray;
    cursor: not-allowed;
}